@{
    Layout = "_LayoutAuth";
    ViewData["Title"] = "Register";
    @model MagicShilla_Utility.Dto.RegisterationRequestDto
}
<div class="col-12 col-md-6 col-lg-5 col-xl-4  align-self-center">
    <div class="card border-0 shadow-lg blur">
        <div class="card-body py-5">
            <h5 class="font-weight-light mb-1 text-mute-high">We are Korean Fan,</h5>
            <h3 class="font-weight-normal mb-4">Sign Up with us</h3>
            <form method="post">
            <div class="card  mb-2 overflow-hidden">
                <div class="card-body p-0">
                    <label for="@Model.UserName" class="sr-only">Email address</label>
                    <input id="@Model.UserName" class="form-control rounded-0 border-0" placeholder="Email address" required="" autofocus="">
                    <hr class="my-0">
                    <label for="@Model.FullName" class="sr-only">Confirm Password</label>
                    <input type="text" id="@Model.FullName" class="form-control rounded-0 border-0" placeholder="FullName" required="">
                    <hr class="my-0">
                    <label for="@Model.Password" class="sr-only">Password</label>
                    <input type="password" id="@Model.Password" class="form-control rounded-0 border-0" placeholder="Password" required="">
                    
                </div>
            </div>
            <div class="text-left mb-4">
                <button type="submit" asp-area="" asp-controller="LocalUsers" asp-action="SignUp" class=" btn btn-primary btn-block">Sign Up <i class="material-icons md-18">arrow_forward</i></button>
            </div>
            </form>
            <div class="">
                <p class="text-mute">
                    Already have account ? <br>
                    Please <a asp-area="" asp-controller="LocalUsers" asp-action="Login"  class="template-primary">Sign In</a> here.
                </p>

            </div>

        </div>
    </div>
</div>